/* Products */

#products{
    background:#111;
    text-align:center;
}

#products h2{
    color:#d4af37;
    font-size:40px;
    margin-bottom:40px;
}

.product-grid{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.product-card{
    background:#1b1b1b;
    border:1px solid #d4af37;
    border-radius:15px;
    padding:20px;
    width:320px;
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    width:100%;
    border-radius:10px;
    margin-bottom:20px;
}

.product-card h3{
    color:#d4af37;
    margin-bottom:10px;
}

.product-card p{
    margin-bottom:20px;
    color:#ddd;
}

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

.hero h1{
    font-size:34px;
}

.hero p{
    font-size:18px;
}

.product-card{
    width:100%;
}

}
